<html xmlns:th="http://www.thymeleaf.org">
<head　th:include="fragments/layout :: head(~{::title})">
  <title>日報一覧</title>
</head>
<body class="colbody">
    <div id="applyhis" style="margin:0 auto;">
      <div class="header-btn">
              <form action="#" th:action="@{/menu}" method="post">
                <input type="submit" value="戻る" />
              </form>
            </div>
        <div>
            <h3>日報一覧</h3>
            <div class="calendar-div">
              <div class="calendar-title">
	            <form name="changeMonth" action="#" th:action="@{/dailyReportListinit}" method="post">
    	            <a href="javascript:preMonth();" class="ui-link-inherit" style=" margin-left:150px;">＜</a>
    	            <input name="currentDate" type="hidden" th:value="${currentDate}" />
    	            <input name="mode" type="hidden" />
	                <span th:text="${currentDate}"></span>
    	            <a href="javascript:nextMonth();" class="ui-link-inherit">＞</a>
    	            <span class="calendar-totaltime" th:text="${totalTime}"></span>
    	        </form>
              </div>
			  <table class="calendar-table">
			    <tr>
			      <th align="center">日</th>
			      <th align="center">月</th>
			      <th align="center">火</th>
			      <th align="center">水</th>
			      <th align="center">木</th>
			      <th align="center">金</th>
			      <th align="center">土</th>
			    </tr>
			    <tr th:each="rowReport : ${reportList}">
			      <td th:each="report : ${rowReport}">
			      <div class="calendar-date">
　　                 <a class="calendar-date-link" th:class="${#strings.concat( report.taskList.size()>0 ? 'calendar-date-highlight' : 'calendar-date-normal' ,' calendar-date-link')}" href="#" th:text="${report.label}" th:onclick="showListDetail([[${report.label}]]);">
　　                 </a>

                  
                  </div>
                 </td>
			    </tr>
              </table>
              <div id="tohide-btn" class="show-hide-btn"><button onclick="hideCalendar()">∧</button></div>
              <div id="toshow-btn" class="show-hide-btn hide"><button onclick="showCalendar()">∨</button></div>
            </div>
            
            
            <div id="detail-list" class="report-detail-list">
			  <table>
			    <tr class="odd-line">
			      <td>日</td>
			      <td>曜日</td>
			      <td>区分</td>
			      <td>始業時刻</td>
			      <td>終業時刻</td>
			      <td>休憩</td>
			      <td>実働</td>
			      <td>時間外</td>
			      <td>状態</td>
			    </tr>			  
			    <tr th:each="report,element : ${detailReportList}" th:class="${#strings.concat('base-tr ', element.even ? 'even-line' : 'odd-line')}"
			        th:id="'detail-list' + ${element.index}" 
			        ondblclick="$(this).find('.edit-button input')[0].click();">
			      <td th:text="${report.label}"></td>
			      <td th:text="${report.yobi}"></td>
			      <td th:text="${report.workKind}"></td>
			      <td th:text="${report.beginTime}"></td>
			      <td th:text="${report.endTime}"></td>
			      <td th:text="${report.breakTime}"></td>
			      <td th:text="${report.workTime}"></td>
			      <td th:text="${report.offTime}"></td>
			      <td>
			        <span  th:text="${report.reportStatus}"></span>
			        <form action="#" th:action="@{/DailyEdit}"+ method="post" data-ajax="false">
                      <input type="hidden" name="reportDate" th:value="${report.dateStr}" />
                      <div class="edit-button"><input type="submit" value="&#x270e;"/> </div>
  	      	        </form>
  	      	      </td>
			    </tr>
              </table>
            </div>
          <div class="section-div"></div>
        </div>
    </div>
</body>
</html>
