<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.5//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="jp.col.dao.IApplyTypeDao">
    <select id="findAllApplyTypes" resultType="jp.col.Model.ApplyTypeModel">
           SELECT sfid,name FROM sfdc.OS_ApplyType__c ORDER BY DisplayOrder__c
    </select>
    <select id="findContentBySfid" resultType="jp.col.Model.ApplyTypeModel" parameterType="String">
           SELECT name, Content__c AS Content from sfdc.OS_ApplyType__c 
           WHERE sfid=#{sfid} LIMIT 1
    </select>
</mapper>
