<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.5//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="jp.col.dao.IProjectDao">
    <select id="findAllProjects" resultType="jp.col.Model.ProjectModel">
           select id,sfid,name from sfdc.OS_Project__c ORDER BY name
    </select>
</mapper>
